<form action="#" (submit)="catFormSubmitHandler($event)">
  <div>
      <label for="firstname">Firstname:</label>
      <input type="text" name="firstname" id="firstname" [(ngModel)]="firstname">
  </div>
  <div>
      <label for="lastname">Lastname:</label>
      <input type="text" name="lastname" id="lastname" [(ngModel)]="lastname">
  </div>
  <div>
  <div>
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" [(ngModel)]="age">
  </div>
  <div>
      <button>Submit</button>
  </div>
</form>
<hr>
<p *ngIf="cats.length === 0; else elseblock">
  Il n'y a pas encore de cats !
</p>
<ng-template #elseblock>
  <table>
      <thead>
          <tr>
              <th>#</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let c of cats">
              <td>{{ c.id }}</td>
              <td>{{ c.firstname }}</td>
              <td>{{ c.lastname }}</td>
              <td>{{ c.age }}</td>
              <td>
                  <button (click)="deleteCatHandler(c)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</ng-template>